[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/defi-aave-v3"]
	path = lib/defi-aave-v3
	url = https://github.com/Cyfrin/defi-aave-v3
[submodule "lib/reactive-lib"]
	path = lib/reactive-lib
	url = https://github.com/Reactive-Network/reactive-lib
