[profile.default]
src = "src"
out = "out"
libs = ["lib"]
via_ir = true
optimizer = true
optimizer_runs = 200
remappings = [
  "cyfrin-aave/=lib/defi-aave-v3/foundry/src/",
]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
[rpc_endpoints]
mainnet = "${FORK_URL}"
sepolia = "${SEPOLIA_RPC_URL:-https://sepolia.infura.io/v3/YOUR_KEY}"